@charset "UTF-8";
/* Main stylesheet
 * basically just imports other files in order
 *
 * most things taken from: github.com/paulirish/html5-boilerplate/
 * also, 320 and up: stuffandnonsense.co.uk/projects/320andup/
 * revised to use sass: sass-lang.com
 *
 */
/* Copyright 2011 Cole Maclean */
/* Colors.scss
 * Defines colors used throughout the project
 */
/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
/* Selection */
/* Links */
/* Insert & Mark */
/* hr elements */
/* Forms */
/* used instead of glow with .no-boxshadow */
/* color variables – ALL colors should go here */
/* scss css tricks
*******************************************************************************/
/* This file includes only scss variables and mixins. */
/* button generator
*******************************************************************************/
/* facebook sign in button
*******************************************************************************/
/* functions */
/* Reset and reasonable base styles */
/* 
Sources:
http://stuffandnonsense.co.uk/projects/320andup
http://meyerweb.com/eric/tools/css/reset
http://people.opera.com/patrickl/experiments/keyboard/test
http://gist.github.com/413930
http://pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap
http://sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars
http://tjkdesign.com/ez-css/css/base.css
http://viget.com/inspire/styling-the-button-element-in-internet-explorer
http://code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing
http://html5doctor.com/html-5-reset-stylesheet/
http://praegnanz.de/weblog/htmlcssjs-kickstart/
http://camendesign.com/design/
http://yui.yahooapis.com/2.8.1/build/base/base.css
http://webaim.org/techniques/css/invisiblecontent/
http://drupal.org/node/897638
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
a:visited,
a:hover,
a:active,
a:focus, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

del {
  text-decoration: line-through; }

ins {
  background-color: #ffff99;
  color: #444444;
  text-decoration: none; }

mark {
  background-color: #ffff99;
  color: #444444;
  font-style: italic;
  font-weight: bold; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

/* 1.ROOT */
html {
  overflow-y: scroll;
  background: white; }

body {
  margin: 0 auto;
  padding: 24px 0;
  width: 90%;
  font: 100%/1.4 Cambria, Georgia, Times, "Times New Roman";
  color: #282828;
  background-color: transparent; }

/* 2.HEADINGS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-weight: bold; }

h1 {
  margin-bottom: .75em;
  font-size: 3em;
  /* 48 / 16 = 3 */
  line-height: 1.2; }

h2 {
  margin-bottom: .75em;
  font-size: 2em;
  /* 36 / 16 = 2 */
  line-height: 1.2; }

h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
  /* 24 / 16 = 1.5 */
  line-height: 1.3; }

h4 {
  margin-bottom: 1.25em;
  font-size: 1.25em;
  /* 20 / 16 = 1.25 */
  line-height: 1.25; }

h5 {
  margin-bottom: 1.5em;
  font-size: 1em;
  /* 16 / 16 = 1 */ }

h6 {
  font-size: 1em;
  /* 16 / 16 = 1 */ }

/* 3.TYPOGRAPHY */
/* set your base font here, to apply evenly */
body, select, input, textarea {
  font-family: Cambria, Georgia, Times, "Times New Roman"; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 1em;
  /* 16 / 16 = 1 */ }

ul,
ol {
  margin: 0 0 1.5em -24px;
  padding-left: 24px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

li ul,
li ol {
  margin: 0;
  font-size: 1em;
  /* 16 / 16 = 1 */ }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: normal; }

blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 1px solid #c8c8c8;
  font-style: italic; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

b,
strong {
  font-weight: bold; }

i,
em {
  font-style: italic; }

sup,
sub {
  position: relative;
  font-size: 75%;
  line-height: 0; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

address {
  font-style: normal; }

pre {
  margin-bottom: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

pre,
code {
  font: .875em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

small {
  font-size: 1em;
  /* 16 / 16 = 1 */ }

/* 4.LINKS */
a, a:visited, a:hover, a:active,
a:focus {
  outline: none;
  color: #1777af;
  text-decoration: none; }

a:visited, a:visited:hover, a:visited:active,
a:visited:focus {
  color: #1777af; }

a:hover:visited, a:hover, a:hover:active,
a:hover:focus {
  color: #282828;
  text-decoration: underline; }

a:active:visited, a:active:hover, a:active,
a:active:focus,
a:focus,
a:focus:visited,
a:focus:hover,
a:focus:active,
a:focus {
  color: black; }

/* 5.FIGURES & IMAGES */
figure {
  margin-bottom: 1.5em; }

figure img,
figure object,
figure embed {
  margin-bottom: .75em;
  max-width: 100%; }

figcaption {
  display: block;
  font-weight: normal; }

/* 6.TABLES */
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.4em;
  width: 100%;
  font-size: .875em;
  /* 14 / 16 = .875 */ }

th {
  font-weight: bold; }

th, td, caption {
  padding: .25em 10px .25em 5px; }

tfoot {
  font-style: italic; }

caption {
  background-color: transparent; }

/* 7.FORMS */
/* Forms

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

*/
form {
  margin-bottom: 1.5em; }

fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0; }

legend {
  margin-top: -0.2em 0 1em 0;
  font-weight: bold;
  font-size: 1.2em; }

label {
  font-weight: normal; }

button,
input,
select,
textarea {
  margin: 0; }

label,
input[type="button"],
input[type="submit"],
input[type="image"],
button {
  cursor: pointer; }

input,
select {
  vertical-align: middle; }

input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=url],
input[type=search],
textarea {
  padding: 2px;
  width: 100%;
  background-color: white;
  border: 1px solid #c8c8c8;
  font-family: inherit;
  font-size: inherit; }

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus {
  border-color: #646464; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

/* Colors for form validity */
input:valid,
textarea:valid {
  /* Styles */ }

input:invalid,
textarea:invalid {
  -webkit-box-shadow: 0 0 2px #b90000;
  -moz-box-shadow: 0 0 2px #b90000;
  box-shadow: 0 0 2px #b90000; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

select {
  margin: .5em 0;
  background-color: white;
  border-width: 1px;
  border-style: solid; }

textarea {
  overflow: auto;
  padding: 2px; }

button {
  width: auto;
  padding: 8px 12px 9px;
  overflow: visible;
  background-color: #e3e3e3;
  border: 1px solid #cccccc;
  border-bottom-color: #bbbbbb;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: .875em;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: #333333;
  text-shadow: 0 1px 0 white; }

button:hover {
  cursor: pointer;
  background-color: #d9d9d9; }

/* input[type=search] {
-webkit-appearance : none; }

input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
display : none; } */
.ie6 legend,
.ie7 legend {
  margin-left: -7px; }

.ie6 input {
  vertical-align: text-bottom; }

.ie7 input[type="checkbox"],
.iem7 input[type="checkbox"] {
  vertical-align: baseline; }

/* 8.BANNER */
/* 9.NAVIGATION */
/* 10.CONTENT */
/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* Non-semantic helper classes */
/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.
   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Image replacement */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* Hide for screenreaders and visual browsers */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide visually */
.visuallyhidden {
  position: absolute;
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  border: 0; }

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  overflow: visible;
  height: auto;
  margin: 0;
  width: auto; }

/* Hide but maintain layout */
.invisible {
  visibility: hidden; }

/* 15.VENDOR-SPECIFIC */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:link, a:link:visited, a:link:hover, a:link:active,
a:link:focus {
  -webkit-tap-highlight-color: #349edb; }

::-webkit-selection {
  background: white;
  color: #fafafa;
  text-shadow: none; }

::-moz-selection {
  background: white;
  color: #fafafa;
  text-shadow: none; }

::selection {
  background: white;
  color: #fafafa;
  text-shadow: none; }

::-webkit-input-placeholder {
  padding: 10px;
  font-size: .875em;
  line-height: 1.4; }

input:-moz-placeholder {
  padding: 10px;
  font-size: .875em;
  line-height: 1.4; }

.ie7 img,
.iem7 img {
  -ms-interpolation-mode: bicubic; }

div,
input,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/* 16.TEMPLATE SPECIFICS */
#goog-fixurl ul {
  list-style-type: none; }

#goog-fixurl input {
  margin-bottom: 1.5em; }

/* 17.MODERNIZR */
/* reset styles */
/**
 * Media queries for responsive design.
 * These follow after primary styles so they will successfully override.
 */
@media only screen and (min-width: 480px) {
  /* 480 
  
  _____________________________________________________
  
  320 and Up boilerplate extension
  
  Author: Andy Clarke
  Version: 0.9b
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT/
  _____________________________________________________
  
  1.ROOT
  2.HEADINGS
  3.TYPOGRAPHY
  4.LINKS
  5.FIGURES & IMAGES
  6.TABLES
  7.FORMS (See css/mylibs/forms.css)
  8.BANNER — header[role="banner"]
  9.NAVIGATION — nav[role="navigation"]
  10.CONTENT
  11.MAIN — div[role="main"]
  12.COMPLIMENTARY — div[role="complementary"]
  13.CONTENTINFO — footer[role="contentinfo"]
  14.GLOBAL OBJECTS
  15.VENDOR-SPECIFIC 
  16.TEMPLATE SPECIFICS
  17.MODERNIZR
  
  */
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS (See css/mylibs/forms.css) */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */ }
/* for progressively larger screens */
@media only screen and (min-width: 768px) {
  /* 768 
  
  _____________________________________________________
  
  320 and Up boilerplate extension
  
  Author: Andy Clarke
  Version: 0.9b
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT/
  _____________________________________________________
  
  1.ROOT
  2.HEADINGS
  3.TYPOGRAPHY
  4.LINKS
  5.FIGURES & IMAGES
  6.TABLES
  7.FORMS (See css/mylibs/forms.css)
  8.BANNER — header[role="banner"]
  9.NAVIGATION — nav[role="navigation"]
  10.CONTENT
  11.MAIN — div[role="main"]
  12.COMPLIMENTARY — div[role="complementary"]
  13.CONTENTINFO — footer[role="contentinfo"]
  14.GLOBAL OBJECTS
  15.VENDOR-SPECIFIC 
  16.TEMPLATE SPECIFICS
  17.MODERNIZR
  
  */
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS (See css/mylibs/forms.css) */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */ }
@media only screen and (min-width: 992px) {
  /* 992 
  
  _____________________________________________________
  
  320 and Up boilerplate extension
  
  Author: Andy Clarke
  Version: 0.9b
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT/
  _____________________________________________________
  
  1.ROOT
  2.HEADINGS
  3.TYPOGRAPHY
  4.LINKS
  5.FIGURES & IMAGES
  6.TABLES
  7.FORMS (See css/mylibs/forms.css)
  8.BANNER — header[role="banner"]
  9.NAVIGATION — nav[role="navigation"]
  10.CONTENT
  11.MAIN — div[role="main"]
  12.COMPLIMENTARY — div[role="complementary"]
  13.CONTENTINFO — footer[role="contentinfo"]
  14.GLOBAL OBJECTS
  15.VENDOR-SPECIFIC 
  16.TEMPLATE SPECIFICS
  17.MODERNIZR
  
  */
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS (See css/mylibs/forms.css) */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */ }
@media only screen and (min-width: 1382px) {
  /* 1382 
  
  _____________________________________________________
  
  320 and Up boilerplate extension
  
  Author: Andy Clarke
  Version: 0.9b
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT/
  _____________________________________________________
  
  1.ROOT
  2.HEADINGS
  3.TYPOGRAPHY
  4.LINKS
  5.FIGURES & IMAGES
  6.TABLES
  7.FORMS (See css/mylibs/forms.css)
  8.BANNER — header[role="banner"]
  9.NAVIGATION — nav[role="navigation"]
  10.CONTENT
  11.MAIN — div[role="main"]
  12.COMPLIMENTARY — div[role="complementary"]
  13.CONTENTINFO — footer[role="contentinfo"]
  14.GLOBAL OBJECTS
  15.VENDOR-SPECIFIC 
  16.TEMPLATE SPECIFICS
  17.MODERNIZR
  
  */
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS (See css/mylibs/forms.css) */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */ }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  /* 2x 
  
  _____________________________________________________
  
  320 and Up boilerplate extension
  
  Author: Andy Clarke
  Version: 0.9b
  URL: http://stuffandnonsense.co.uk/projects/320andup/
  License: http://creativecommons.org/licenses/MIT/
  _____________________________________________________
  
  1.ROOT
  2.HEADINGS
  3.TYPOGRAPHY
  4.LINKS
  5.FIGURES & IMAGES
  6.TABLES
  7.FORMS (See css/mylibs/forms.css)
  8.BANNER — header[role="banner"]
  9.NAVIGATION — nav[role="navigation"]
  10.CONTENT
  11.MAIN — div[role="main"]
  12.COMPLIMENTARY — div[role="complementary"]
  13.CONTENTINFO — footer[role="contentinfo"]
  14.GLOBAL OBJECTS
  15.VENDOR-SPECIFIC 
  16.TEMPLATE SPECIFICS
  17.MODERNIZR
  
  */
  /* 1.ROOT */
  /* 2.HEADINGS */
  /* 3.TYPOGRAPHY */
  /* 4.LINKS */
  /* 5.FIGURES & IMAGES */
  /* 6.TABLES */
  /* 7.FORMS (See css/mylibs/forms.css) */
  /* 8.BANNER */
  /* 9.NAVIGATION */
  /* 10.CONTENT */
  /* 11.MAIN */
  /* 12.COMPLIMENTARY */
  /* 13.CONTENTINFO */
  /* 14.GLOBAL OBJECTS */
  /* 15.VENDOR-SPECIFIC */
  /* 16.TEMPLATE SPECIFICS */
  /* 17.MODERNIZR */ }
/* retina display */
@media print {
  /**
   * Print styles.
   *
   * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited, a:hover, a:active,
  a:focus, a:visited, a:visited:hover, a:visited:active,
  a:visited:focus {
    color: #444 !important;
    text-decoration: underline; }

  a[href]:after, a[href]:after:visited, a[href]:after:hover, a[href]:after:active,
  a[href]:after:focus {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="javascript:"]:after, a[href^="javascript:"]:after:visited, a[href^="javascript:"]:after:hover, a[href^="javascript:"]:after:active,
  a[href^="javascript:"]:after:focus,
  a[href^="#"]:after,
  a[href^="#"]:after:visited,
  a[href^="#"]:after:hover,
  a[href^="#"]:after:active,
  a[href^="#"]:after:focus {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: .5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* print styles */
